<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDphrK_sBL2u2MdO2EGETCd6A_LFmq80jk</string>
	<key>GCM_SENDER_ID</key>
	<string>328709171493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hlbn.Motify</string>
	<key>PROJECT_ID</key>
	<string>motify-73c67</string>
	<key>STORAGE_BUCKET</key>
	<string>motify-73c67.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328709171493:ios:fcc2cb7c346362508c12cc</string>
</dict>
</plist>